.page-contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  section {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    h2,
    ul {
      padding: 6px 12px;
      li {
        padding-left: 12px;
      }
    }
  }
}
