.section-hero {
  height: calc(100vh - 70px);
  //border: 3px red solid;
  //box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  img {
    position: absolute;

    height: calc(100vh - 70px);
    width: 100%;

    object-fit: cover;
    z-index: -10;

    opacity: 0.7;
  }
  h1,
  h2 {
    color: white;
  }
}
