.section-products {
  article {
    display: grid;
    grid-template-columns: 33% 1fr;
    grid-template-rows: min-content 1fr min-content;

    grid-template-areas:
      "img title "
      "img description"
      "img link";

    border-bottom: 1px solid $grayLight;
    margin-top: 1rem;
    padding-bottom: 1rem;
    &:last-child {
      border-bottom: none;
    }
    img {
      grid-area: img;

      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top center;
    }
    h2,
    p,
    a {
      padding: 0 12px;
    }
    h2 {
      grid-area: title;
      text-transform: capitalize;
    }
    p {
      grid-area: description;
      text-align: justify;
      text-justify: inter-character;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 100%;
    }
    a {
      grid-area: link;
      margin: 12px;
    }
  }
}
