.section-ingredients {
  padding: 10px;
  @media only screen and (min-width: $desktopBreakpoint) {
    width: 800px;
    margin: auto;
  }

  ul {
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    li {
      margin: 3px;
    }
  }
}
