.section-hero {
  height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  .background {
    position: absolute;

    height: calc(100vh - 70px);
    width: 100%;

    object-fit: cover;
    z-index: -10;
    opacity: 0.9;
    filter: brightness(0.65);
  }
  h1,
  h2 {
    color: white;
    line-height: 80%;
  }

  h2 {
    font-weight: 200;
  }

  .illustration {
    position: absolute;
    bottom: 30px;
    height: 350px;
    filter: invert(1);
    opacity: 0.8;
  }
}
