.page-category {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .btn-300 {
    width: 300px;
    margin: 24px;
  }
}
.section-header {
  width: 100%;
  background: $red;
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;
  text-transform: capitalize;
}

.section-description {
  background: $grayLight;
  width: 100%;
  p {
    padding: 12px;
  }
}
