html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
}
main {
}

ul,
li,
table,
tr,
td {
  margin: 0;
  padding: 0;
}

// Image sizes

.img-50 {
  height: 50px;
  width: 50px;
}

.img-40 {
  height: 40px;
  width: 40px;
}

.img-30 {
  height: 30px;
  width: 30px;
}

.img-bw {
  filter: grayscale(1);
}

.img-2em {
  width: 2em;
  height: auto;
}
.img-1em {
  width: 1em;
  height: auto;
}
