button {
  background: none;
  border: none;
  cursor: pointer;
}
.btn {
  height: $mob-button-height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}

.btn-main {
  background: $red;
  border: 1px solid $red;
  border-radius: 44px;

  h3 {
    color: $white;
    text-transform: capitalize;
  }

  svg {
    width: 20px;
    margin: 0 6px;

    path {
      fill: $white;
    }
  }
  &:hover {
    transition: ease 0.3s;
    background-color: $redDark;
  }
}

.btn-ghost {
  background: none;
  border: 2px solid $red;
  border-radius: 44px;

  h3 {
    color: $red;
    text-transform: capitalize;
  }
  svg {
    width: 20px;
    margin: 6px;
    path {
      fill: $red;
    }
  }
  &:hover {
    transition: ease 0.3s;
    color: $redDark;
    border-color: $redDark;
    h3 {
      color: $redDark;
    }
    svg path {
      fill: $redDark;
    }
  }
}

.pill {
  height: 25px;

  h3 {
    font-size: 14px;
    padding: 0 12px;
  }
}

input {
  border: 1px $black solid;
  height: 30px;
  border-radius: 30px;
  background-color: transparent;
}
input[type="text"],
input[type="email"] {
  background-color: $grayLight;
}
