button {
  background: none;
  border: none;
  cursor: pointer;
}
.btn {
  height: $mob-button-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-main {
  background: $red;
  border: 1px solid $red;
  border-radius: 44px;

  h3 {
    color: $white;
    text-transform: capitalize;
    padding: 0 24px;
  }
}

.btn-ghost {
  background: none;
  border: 2px solid $red;
  border-radius: 44px;

  h3 {
    color: $red;
    text-transform: capitalize;
    padding: 0 24px;
  }
}

.pill {
  height: 25px;

  h3 {
    font-size: 14px;
    padding: 0 12px;
  }
}

input {
  border: 1px $black solid;
  height: 30px;
  border-radius: 30px;
  background-color: transparent;
}
input[type="text"],
input[type="email"] {
  background-color: $grayLight;
}
