/* Media queries */
$desktopBreakpoint: 1000px;

/** colors **/
$grayDark: #c4c4c4;
$grayLight: #eeeeee;
$white: white;
$white: black;

/*** fonts ***/
/* fonts familie s*/

$fontIkea: "Noto Sans", sans-serif;
$fontHandWritten: "Indie Flower", cursive;
$fontApple: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

/*fonts style*/
$Light: 100;
$Regular: 300;
$Bold: 800;

/* sizes */

$header-height: 70px;
$footer-height: 85px;

$mob-button-height: 44px;

/* animation */

@keyframes pop {
  0% {
    filter: hue-rotate(30deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
