.section-products {
  display: grid;
  gap: 1em;
  @media only screen and (min-width: $desktopBreakpoint) {
    width: 800px;
    margin: auto;
  }
  article {
    overflow: hidden;
    border-radius: 1em;
    background: $grayLight;
    box-shadow: 2px 2px 12px grey;
    display: grid;
    grid-template-columns: 44% 1fr;
    grid-template-rows: min-content 1fr min-content;

    grid-template-areas:
      "img title "
      "img description"
      "img link";

    padding-bottom: 1rem;
    @media only screen and (min-width: $desktopBreakpoint) {
      padding-bottom: 0;
    }

    img {
      grid-area: img;
      width: 100%;
      object-fit: cover;
      object-position: top center;
    }
    h2,
    p,
    a {
      padding: 0 25px;
    }
    h2 {
      grid-area: title;
      justify-self: center;
      text-align: left;
      width: 100%;
      max-width: 350px;
      text-transform: capitalize;
      @media only screen and (min-width: $desktopBreakpoint) {
        padding-top: 30px;
      }
    }
    p {
      grid-area: description;
      justify-self: center;
      text-align: justify;
      text-justify: inter-character;
      hyphens: auto;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 100%;
      max-width: 350px;
      @media only screen and (min-width: $desktopBreakpoint) {
        padding-top: 20px;
      }
    }
    a {
      grid-area: link;
      justify-self: center;
      width: 100%;
      h3 {
        font-size: 15px;
      }
    }
  }
}
