.section-form_contact {
  @media only screen and (min-width: $desktopBreakpoint) {
    width: 800px;
    margin: auto;
  }

  h2 {
    padding: 0;
  }
}
form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 12px;

  @media only screen and (min-width: $desktopBreakpoint) {
    border: 1px solid $grayDark;
    border-radius: 20px;
    margin: 12px;
    padding: 30px 80px;
  }

  label {
    width: 100%;

    input {
      box-sizing: border-box;
      padding: 0 30px;
      margin: 3px 0;
      width: 100%;
    }
  }
}
