form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 12px;
  label {
    width: 100%;

    input {
      box-sizing: border-box;
      padding: 0 30px;
      margin: 3px 0;
      width: 100%;
    }
  }
}
